<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Member</title>
    <link rel="stylesheet" href="css/common.css">
</head>
<body>
    <% if (user.If_admin) { %>
        <button onclick="window.location.href='/adminHome'">Back</button>
    <% } else { %>
        <button onclick="window.location.href='/memberHome'">Back</button>
    <% } %>
    <h1>Change Password</h1>
    <% if (message) { %>
        <p><%= message %></p>
    <% } %>
    <form action="/changePassword" method="POST" id="changePasswordForm">
        <label for="Old_pwd">Old Password</label>
        <input type="password" id="Old_pwd" name="Old_pwd">
        <br>
        <label for="New_pwd">New Password</label>
        <input type="password" id="New_pwd" name="New_pwd">
        <br>
        <label for="Confirmed_pwd">Confirm Password</label>
        <input type="password" id="Confirmed_pwd" name="Confirmed_pwd">
        <br>
        <input type="submit" value="Change Password">
    </form>
</body>