<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit book</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/bookPages.css">
</head>
<body>
    <button onclick="window.location.href='/adminHome'">Back</button>
    <h1>Edit book</h1>
    <% if (error) { %>
        <p><%= error %></p>
    <% } %>
    <form action="/editBook" method="POST" id="editBookForm">
        <label for="ISBN">ISBN:</label>
        <input type="text" id="ISBN" name="ISBN" required>
        <br>
        <label>Number_of_copies:</label>
        <input type="number" min="1" id="number_of_copies" name="Number_of_copies" required>
        <br>
        <input type="submit" value="Edit Book">
    </form>
</body>
</html>
