/* Styles specific to deleteBook.ejs */

.container {
    background-color: #222; /* Darker background color */
    padding: 20px;
}

input[type="submit"] {
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #cc0000;
}
